@model Promo.EverythingIsNew.WebApp.Models.OfferViewModel
<!-- popup -->
<div class="popup-cont">
    <div class="popup-mask">&nbsp;</div>
    <div class="popup wrong-email-popup">
        <a href="javascript:void(0)" class="popup-close">&nbsp;</a>
        <div class="popup-in">
            <form>
                <h4 class="thin">Укажите ваш действующий email<br>и мы отправим вам спецальный промо-код и инструкцию</h4>
                <br>
                <input type="text" id ="resend-email" name="resend-email" class="inp" style="vertical-align:middle;width:300px;margin-right:22px" />
                <a href="javascript:void(0)" class="btn-link" >Отправить</a>
            </form>
        </div>
    </div>
</div>
<!--/popup -->
<div class="header">
    <div class="header-wrap">
        <h1>@Model.UserName!</h1>
        Предлагаем вам персональный тариф
    </div><!--header-wrap-->
</div><!--header-->
<div class="content">
    <div class="content-wrap">
        <h2>Тариф &laquo;#Можно.ВСЁ&raquo;</h2>

        @*<div class="benefits">
                <div class="entry">
                    <div class="circle">
                        <strong>50</strong> мин
                    </div>
                    Ежедневно 50&nbsp;минут<br>на&nbsp;все местные бесплатно
                </div>

                <div class="entry">
                    <div class="circle">
                        <strong>50</strong> МБ
                    </div>
                    Ежедневно 50&nbsp;МБ<br>мобильного интернета бесплатно
                </div>

                <div class="entry">
                    <div class="circle">
                        <strong>100</strong> SMS
                    </div>
                    Ежедневно 100 SMS<br>по&nbsp;всей России бесплатно
                </div>
            </div><!--benefits-->
        *@

        @foreach (var group in Model.Groups)
        {
            <div class="fold-block">
                <a class="fold-link open" href="javascript:void(0)">@group.Name</a>
                <div class="foldable" style="display:block">
                    @foreach (var line in group.Lines)
                    {
                        <div class="row">
                            @if (line.NumValue != null)
                            {
                                <div class="price"><span>@line.NumValue</span> @line.UnitDisplay</div>
                            }
                            @if (line.Value != null)
                            {
                                <div class="price">@line.Value</div>
                            }
                            <div class="desc">@Html.Raw(line.Title)</div>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="center offer-choice" style="padding-top:50px">
            <a href="javascript:void(0)" class="btn-link"><strong>Воспользуюсь!</strong></a>
            <a href="javascript:void(0)" class="btn-link-alt">не интересно</a>
        </div>

        <div class="success-block">
            <div class="circle">
                <div class="circle-in">&nbsp;</div>
                <div class="circle-check">&nbsp;</div>
            </div>
            <div class="message">
                Инструкции по переходу на&nbsp;тариф отправлены на&nbsp;ваш адрес<br><span class="message-email"></span>
            </div>

            <a href="javascript:void(0)" class="wrong-email">Это не ваш почтовый адрес?</a>
        </div>

        <div class="error-block" >
            <div style=" ">
                <img src='~/i/feature_error.png'  alt="service error" style="position:relative;width:76px;height:76px;margin: 0 auto 22px;"/>
            </div>
            <div class="message">
                Произошла ошибка сервиса, попробуйте повторить операцию позднее
            </div>
                <a href="javascript:void(0)" class="btn-link"><strong>Повторить</strong></a>
        </div>
    </div><!--content-wrap-->
</div><!--content-->

<script>
    $(function () {
        var choice = $(".offer-choice");
        var success = $(".success-block");
        var error = $(".error-block");
        var popup = $(".popup-cont");


        $(document).on("click", ".offer-choice .btn-link, .error-block .btn-link, .popup-in .btn-link", function (e) {
            hide_popup();
            //console.log("click");
            $.ajax({
                type: "POST",
                data:{email: $('#resend-email').val()},
                url: "/offer",
                context: document.body,
                dataType: 'text',
                statusCode: {
                    400: function () {
                        //console.log("400");
                        show_error_block();
                    }
                },
                success: function (msg) {
                    $('.message-email').html(msg);
                    show_success_block();
                    //console.log("ok");
                }
            });
        });
        
        function show_success_block() {
            error.hide();
            choice.hide();
            success.show();
            setTimeout(function () {
                success.addClass("show");
            }, 100);
        }

        function show_error_block() {
            success.hide();
            choice.hide();
            error.show();
            setTimeout(function () {
                error.addClass("show");
            }, 100);
        }

        function hide_popup() {
            popup.hide();   
        }
    });
</script>