@model Promo.EverythingIsNew.WebApp.Models.OfferViewModel
<div class="header">
    <div class="header-wrap">
        <h1>Александр!</h1>
        Предлагаем вам персональный тариф
    </div><!--header-wrap-->
</div><!--header-->
<div class="content">
    <div class="content-wrap">
        <h2>Тариф &laquo;#Можно.ВСЁ&raquo;</h2>

        @*<div class="benefits">
            <div class="entry">
                <div class="circle">
                    <strong>50</strong> мин
                </div>
                Ежедневно 50&nbsp;минут<br>на&nbsp;все местные бесплатно
            </div>

            <div class="entry">
                <div class="circle">
                    <strong>50</strong> МБ
                </div>
                Ежедневно 50&nbsp;МБ<br>мобильного интернета бесплатно
            </div>

            <div class="entry">
                <div class="circle">
                    <strong>100</strong> SMS
                </div>
                Ежедневно 100 SMS<br>по&nbsp;всей России бесплатно
            </div>
        </div><!--benefits-->
        *@

        @foreach (var group in Model.Groups)
        {
            <div class="fold-block">
                <a class="fold-link open" href="javascript:void(0)">@group.Name</a>
                <div class="foldable" style="display:block">
                    @foreach (var line in group.Lines)
                    {
                        <div class="row">
                            @if (line.NumValue != null)
                            {
                                <div class="price"><span>@line.NumValue</span> @line.UnitDisplay</div>
                            }
                            @if (line.Value != null)
                            {
                                <div class="price">@line.Value</div>
                            }
                            <div class="desc">@Html.Raw(line.Title)</div>
                        </div>
                    }
                </div>
            </div>

        }
        
       

        <div class="center offer-choice" style="padding-top:50px">
            <a href="javascript:void(0)" class="btn-link"><strong>Воспользуюсь!</strong></a>
            <a href="javascript:void(0)" class="btn-link-alt">не интересно</a>
        </div>

        <div class="success-block">
            <div class="circle">
                <div class="circle-in">&nbsp;</div>
                <div class="circle-check">&nbsp;</div>
            </div>
            <div class="message">
                Инструкции по переходу на&nbsp;тариф отправлены на&nbsp;ваш адрес<br><span class="message-email">coolmike@somwhere.com</span>
            </div>

            <a href="javascript:void(0)" class="wrong-email">Это не ваш почтовый адрес?</a>
        </div>
    </div><!--content-wrap-->
</div><!--content-->